<style></style>

<router>


  <app-main-container route="/"></app-main-container>


  <app-page2 route="/page2"> </app-page2>
  <app-card route="/holi2"> 222 2 22 22 3 3 3 3 3</app-card>

</router>




<script>



  class Router extends RouterComponent {
    constructor() {
      super();

      window.router = this

      app.navigate = this.navigate


    }

    onInit() {
      console.trace("#oninit router")
      // debugger
    }




  }

  app.defineComponentsName(Router, "app-router")

</script>