<style>
    p {

        color: var(--color);
        font-size: 20px;
        font-weight: bold;
    }

    componente1 {
        position: relative;
        display: inline-block;
        width: 150px;
        height: max-content;
        border: 1px solid black;
    }

    .dynamicText {
        font-size: 10px;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .small {
        font-size: 9px;
    }
</style>


<componente1>
    <p class="title colorChange"></p>
    <p class="dynamicText"></p>
    <button j-onclick="handleOnClickHide">hide</button>
    <p class="small">{{uid}}</p>
    <button>change color</button>
    <app-tooltip></app-tooltip>
    <app-image-compo src="{{imgurl}}"></app-image-compo>




</componente1>



<script>
    class Card extends Component {
        constructor() {
            super()
            this.$("button").onclick = e => this.onClickButton(e)

            if (this.state.item) {
                this.setState("imgurl", (this.state.item || {}).image)

            }

            this.$(".title").innerHTML = ((this.state || {}).item || {}).name


            window.debugC1 = this



        }
        handleOnClickHide(e) {
            this.disable()
        }



        onClickButton(e) {
            this.setState("color", randomColor())
        }



        onChange(e) {
            console.log(this.uid, e)

            if (e.text1) this.$(".dynamicText").innerHTML = this.state.text1
            if (e.color) this.$(".colorChange").style.color = this.state.color


        }

        onDestroy() {
            // console.log("chau", this.uid)
        }

    }

    app.defineComponentsName(Card, "app-card")
</script>