<style>
    p {

        color: var(--color);
        font-size: 20px;
        font-weight: bold;
    }

    componente1 {
        position: relative;
        display: inline-block;
        width: 150px;
        height: max-content;
        border: 1px solid black;
    }

    .dynamicText {
        font-size: 10px;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .small {
        font-size: 9px;
    }
</style>


<componente1>
    <p class="title colorChange" j-innerHTML="title"></p>
    <p class="dynamicText" j-innerHTML="text1"></p>
    <button j-onclick="handleOnClickHide">hide</button>
    <p class="small" j-innerHTML="uid"></p>
    <button j-onclick="onClickButton">change color</button>
    <app-tooltip></app-tooltip>
    <app-image-compo src="{{imgurl}}" j-onclick="gotoChar"></app-image-compo>




</componente1>



<script>
    class Card extends Component {

        gotoChar() {
            app.navigate("/character", this.item)
            console.log(this.item)
        }

        onInit() {
            // console.log("#on init", this.uid, this.getState("cards"), this.getState("i"))

            this.item = (this.getState("cards") || [])[this.getState("i")]
            // this.$(".title").innerHTML = this.item.name

            if (this.item) {
                this.setState("title", this.item.name)
                this.setState("imgurl", this.item.image)
            }





        }
        handleOnClickHide(e) {
            this.disable()
        }



        onClickButton(e) {
            this.setCSSVariable("color", randomColor())
        }



        onChange(e) {
            // console.log(this.uid, e)

            // if (e.text1) this.$(".dynamicText").innerHTML = this.state.text1
            // if (e.color) this.$(".colorChange").style.color = this.state.color

            this.onInit()


        }

        onDestroy() {
            // console.log("chau", this.uid)
        }

    }

    app.defineComponentsName(Card, "app-card")
</script>