<style>
    
    p {

        color: var(--color);
        font-size: 20px;
        font-weight: bold;
    }
    /* :host{
        padding:20px;
        background-color: red;
    } */

    :host {
        position: relative;
        display: inline-block;
        width: 150px;
        height: max-content;
        border: 1px solid black;
    }

    .dynamicText {
        font-size: 10px;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .small {
        font-size: 9px;
    }

    input{
        width:100%;
        margin:2px;
    }
</style>





    <p id="pep"> </p>

    <p class="title colorChange" j-innerhtml="{{state.title}}"></p>
    <p class="dynamicText" j-innerhtml="{{state.text1}}"></p>
    <button j-onclick="{{handleOnClickHide}}">hide</button>
    <p class="small" j-innerhtml="{{uid}}"></p>
    <button j-onclick="{{onClickButton}}">change color</button>
    <app-tooltip></app-tooltip>
    <app-image-compo src="{{state.imgUrl}}" j-onclick="{{gotoChar}}"></app-image-compo>
    <input j-oninput="{{setText1InParent}}" j-value="{{state.text1}}">







<script>



    class Card extends JURL.Component {
        setText1InParent(e) {
            this.state.settext1(e.target.value)
        }

        async gotoChar() {
            if (await app.loadComponent("pages/characterPage.html")) app.navigate('/character', this.item)



        }

        onInit() {
            // console.log("#on init", this.uid, this.getState("cards"), this.getState("i"))

            this.item = (this.getState("cards") || [])[this.getState("i")]
            // this.$(".title").innerHTML = this.item.name

            if (this.item) {
                this.setState("title", this.item.name)
                this.setState("imgUrl", this.item.image)
            }

            window.cardC = this



        }
        handleOnClickHide(e) {
            this.disable()
        }



        onClickButton(e) {
            this.setCSSVariable("color", randomColor())
        }



        onChange(e) {
            // console.log(this.uid, e)

            // if (e.text1) this.$(".dynamicText").innerHTML = this.state.text1
            // if (e.color) this.$(".colorChange").style.color = this.state.color

            this.onInit()


        }

        onDestroy() {
            // console.log("chau", this.uid)
        }

    }

    JURL.instance.defineComponentsName(Card, "app-card")
</script>