<style>
    li {
        cursor: pointer;
        transition: all 0.5s;
    }

    li:hover {
        background-color: gray;
        color: white;

    }
</style>


<episode>



    <li j-onclick="{{showMoreData}}"> <span j-innerHTML="{{this.state.episodedata.name}}">loading</span>
        <j-if condition="{{state.showMore}}">


            <hr>
            <p j-innerHTML="{{state.episodedata.air_date}}" />
            <p j-innerHTML="{{state.episodedata.episode}}" />
            <hr>



        </j-if>

    </li>


</episode>



<script>
    import Component from "../lib/component.js"
    import App from "../lib/app.js"
    import { getDataFromAPI } from "../lib/utils.js"

    class EpisodeItem extends Component {

        showMoreData() {
            console.log("#show more data")
            this.setState("showMore", !this.getState("showMore"))
        }

        onInit() {
            console.log("#init episode item")
            //THE ROUTER DATA STATE IS GIVEN BY THE ROUTER
            // console.log("#on init character page", this.getState("routerdata"))
            this.onChange()

        }





        async onChange(e) {


            this.url = this.getState("episodeurl")
            if (this.url && !this.getState("episodedata")) {
                this.setState("episodedata", await getDataFromAPI(this.url))
            }

        }

        onDestroy() {

        }

    }

    // App.defineComponentsName(EpisodeItem, "episode-item")
</script>