<style>
    li {
        cursor: pointer;
        transition: all 0.5s;
    }

    li:hover {
        background-color: gray;
        color: white;

    }
</style>


<!-- <episode> -->


<j-if condition="{{state.episodedata.name}}">
    <li j-onclick="{{showMoreData}}">
        <span j-innerHTML="{{this.state.episodedata.name||''}}"></span>
        <j-if condition="{{state.showMore}}">

            <hr>
            <p j-innerHTML="{{state.episodedata.air_date||''}}" />
            <p j-innerHTML="{{state.episodedata.episode||''}}" />
            <hr>



        </j-if>

    </li>
</j-if>


<!-- </episode> -->



<script>
    import Component from "../lib/component.js"
    import App from "../lib/app.js"
    import { getDataFromAPI } from "../lib/utils.js"

    class EpisodeItem extends Component {

        showMoreData() {
            // console.log("#show more data")
            this.setState("showMore", !this.getState("showMore"))
        }

        onInit() {
            
            // console.log("#init", this.state)
            // console.trace("#on init")
            //THE ROUTER DATA STATE IS GIVEN BY THE ROUTER
            // console.log("#on init character page", this.getState("routerdata"))
            this.getEpisodeData(this.state.item)

        }



        async onChange(changes) {


            if (changes && changes.item) {
                // console.log("#got item")
                const url = changes.item.current
                this.getEpisodeData(url)
            }



        }

        async getEpisodeData(url) {
            if (url && url != this.getState("currentURL")) {
                this.setState("episodedata", await getDataFromAPI(url))
                this.setState("currentURL", url)
            }
        }

        onDestroy() {

        }

    }

    // App.defineComponentsName(EpisodeItem, "episode-item")
</script>