<header style="height:50px">
    <button j-onclick="{{()=>this.gotoPage('home')}}">HOME </button>
    <button j-onclick="{{()=>this.gotoPage('page2',{dummy:123})}}">"if" example</button>
    <button j-onclick="{{()=>this.gotoPage('page3',{dummy:123})}}">"for" example</button>
    <button j-onclick="{{()=>this.gotoPage('page4')}}">slider and dynamic style</button>
    <button j-onclick="{{()=>this.gotoPage('page5')}}">examples of data binding</button>
    <button j-onclick="{{()=>this.gotoPage('page6')}}">J-class</button>

    <button onclick="app.navigate('/wrongroute')">wrong route </button>
    <hr>

    <hr>
</header>


<script>
    import Component from "../lib/component.js"
    import App from "../lib/app.js"

    class Header extends Component {
        constructor() {
            super();

        }
        async gotoPage(num, data) {

            if (await App.instance.loadComponent("pages/" + num + ".html")) {
                App.instance.navigate('/' + num, data)
            }
        }

    

    }




</script>