<style>
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        transition: all 0.5s;
        opacity: 0;

    }
</style>

<span>

    <img j-onload="{{imageReady}}" j-src="{{state.src}}" j-style="{{{opacity: this.state.ready?1:0}}}" />
</span>



<script>
    import Component from "../lib/component.js"
    import App from "../lib/app.js"
    class ImageCompo extends Component {

        imageReady() {


            this.setState("ready", true)


        }
        onInit() {
            this.onChange()
        }

        onChange(changes) {
            if (changes && changes.src) {
                //IF THE STATE THAT CHANGED IS THE SRC STATE
                this.setState("ready", false)
            }



        }

    }
    // App.defineComponentsName(ImageCompo)
</script>