<style></style>

<router>


  <app-home route="/"></app-home>


  <app-page2 route="/page2"> </app-page2>
  <app-page3 route="/page3"> </app-page3>
  <app-page4 route="/page4"> </app-page4>
  <app-page5 route="/page5"> </app-page5>
  <app-page6 route="/page6"> </app-page6>

  <app-character-page route="/character"> </app-character-page>

</router>




<script type="module">

  import App from "../lib/app.js"
  import RouterComponent from "../lib/routerComponent.js"

  class Router extends RouterComponent {
    onInit() {


      window.router = this

      App.instance.navigate = this.navigate


    }




  }

  // App.defineComponAGE2entsName(Router)

</script>