<style></style>

<router>


  <app-main-container route="/"></app-main-container>


  <app-page2 route="/page2"> </app-page2>
  <app-page3 route="/page3"> </app-page3>
  <app-page4 route="/page4"> </app-page4>
  <app-page5 route="/page5"> </app-page5>

  <character-page route="/character"> </character-page>

</router>




<script>



  class Router extends JURL.RouterComponent {
    onInit() {


      window.router = this

      JURL.instance.navigate = this.navigate


    }




  }

  JURL.instance.defineComponentsName(Router, "app-router")

</script>