<style></style>

<router>


  <app-main-container route="/"></app-main-container>


  <app-page2 route="/page2"> </app-page2>
  <app-page3 route="/page3"> </app-page3>

  <character-page route="/character"> </character-page>

</router>




<script>



  class Router extends JURL.RouterComponent {
    constructor() {
      super();

      window.router = this

      app.navigate = this.navigate


    }

    onInit() {
      // console.trace("#oninit router")
      // debugger
    }




  }

  app.defineComponentsName(Router, "app-router")

</script>