<style>
    tooltip {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 100%;

        background-color: var(--color-of-tooltip);
        border: 1px solid black;
    }
</style>


<tooltip>
    <div class="circle"></div>

</tooltip>



<script>
    class Tooltip extends JURL.Component {
        constructor() {
            super()
            // this.$("button").onclick = e => this.onClickButton(e)


            // this.color = this.state["tooltip-color"]

        }
        // onInit() {
        //     // console.log("compo 1 on init", this.uid)
        // }


        onChange(e) {
            // console.log("componente 1 cambio", e)
            // console.log(this.state)
            // if (this.state.randomvar) this.$("button").innerHTML = this.state.randomvar
        }

    }
    // customElements.define("app-tooltip", Tooltip)
    app.defineComponentsName(Tooltip)
</script>